<h1>{{book.name}}</h1>
<img src="http://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg" alt="Book cover" title="Book cover" />
<dl class="dl-horizontal">
    <dt>ISBN</dt>
    <dd>{{book.isbn}}</dd>
    <dt>Authors</dt>
    <dd>{{book.authors | arrayToString}}</dd>
    <dt>Publishers</dt>
    <dd>{{book.publishers | arrayToString}}</dd>
    <dt>Publishing year</dt>
    <dd>{{book.publishingYear}}</dd>
</dl>
<a href="#books/{{book.id}}/edit" class="btn btn-success">Edit book</a>
<button class="btn btn-danger" ng-click="deleteBook()">Delete book</button>