Search: <input ng-model="query">

<table class="table table-striped">
    <thead>
        <tr>
            <td>Book name</td>
            <td>Authors</td>
            <td>ISBN</td>
            <td>Publishers</td>
            <td>Publishing year</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="book in books | filter:query">
            <td><a href="#books/{{book.id}}">{{book.name}}</a></td>
            <td>{{book.authors | arrayToString}}</td>
            <td>{{book.isbn}}</td>
            <td>{{book.publishers | arrayToString}}</td>
            <td>{{book.publishingYear}}</td>
        </tr>
    </tbody>
</table>